@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Roboto+Mono:wght@400;500;700&family=Work+Sans:wght@700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .work-bold {
        @apply font-work-sans font-bold;
    }
    .work-extrabold {
        @apply font-work-sans font-extrabold;
    }
    .inter-medium {
        @apply font-inter font-medium;
    }
    .inter-semibold {
        @apply font-inter font-semibold;
    }
    .mono-regular {
        @apply font-mono font-normal;
    }
    .mono-medium {
        @apply font-mono font-medium;
    }
    .mono-bold {
        @apply font-mono font-bold;
    }
}

html, body {
    height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.list-dash {
    list-style-type: "- ";
}

li::marker {
    font-weight: bold;
}